Repository ISISNeutronMuon/InstrumentScripts, changes with the owners that CODEOWNERS names for each.
All owners: @ibex, @rprospero, @DiegoAlbaVenero

CODEOWNERS:

# default owner
* @ibex

# Any changes to instrument code should be reviewed by an instrument
# scientist on that beam line
/instrument/larmor @rprospero
/instrument/zoom @DiegoAlbaVenero

# Changes to the sans code should be reviewed by someone on that sans team
/technique/sans @rprospero @DiegoAlbaVenero
/doc/source/sans @rprospero @DiegoAlbaVenero

# The scan code is currently just Adam's code, but he's happy to share
# ownerhip if someone else wants to get involved
/general/scans @rprospero
/doc/source/scans @rprospero

Refactor ask_pv to get_pv
  instrument/larmor/sans.py
  instrument/loq/sans.py
  instrument/zoom/sans.py
  technique/sans/instrument.py
Owners: @rprospero, @ibex, @DiegoAlbaVenero

Attempt to make sample-positions case insensitive
  instrument/sans2d/sans.py
  technique/sans/instrument.py
Owners: @ibex, @rprospero, @DiegoAlbaVenero

Fixes from testing on LARMOR
  general/scans/defaults.py
  instrument/larmor/sans.py
Owners: @rprospero

Fixes from testing on LOQ
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

recover SANSroutines.py for Larmor, unify flipper1 command for Larmor and Zoom
  instrument/larmor/sans.py
  instrument/zoom/util.py
Owners: @rprospero, @DiegoAlbaVenero

add SESANSroutines.py
  instrument/larmor/SESANSroutines.py
  instrument/larmor/sans.py
  instrument/zoom/sans.py
Owners: @rprospero, @DiegoAlbaVenero

implement polarised SANS measurement for ZOOM and Larmor
  instrument/larmor/sans.py
  instrument/zoom/sans.py
Owners: @rprospero, @DiegoAlbaVenero

Disable skipping setup with cached states
  technique/sans/util.py
Owners: @rprospero, @DiegoAlbaVenero

Add polarisation analysis as measurement mode on ZOOM and Larmor
  instrument/larmor/sans.py
  instrument/zoom/sans.py
Owners: @rprospero, @DiegoAlbaVenero

add specific instrument settings for transmission in PA mode on LARMOR
  instrument/larmor/sans.py
Owners: @rprospero

add Zoom guide settings for polarised beam
  instrument/zoom/sans.py
Owners: @DiegoAlbaVenero

Merged with changes made by Tom Willemsen under Ticket 7594. Corrected typos: 1. LARMOR should not be all in upper case. 2. gen.waitfor_move().
  instrument/larmor/sans.py
Owners: @rprospero

Add uncommitted positions from NDXLARMOR
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

disable moderator temp vetos
  instrument/loq/sans.py
Owners: @ibex

create fig on scan
  instrument/loq/sample_changer_scan.py
Owners: @ibex

changes to centre of mass fit
  general/scans/fit.py
Owners: @rprospero

known working changes
  general/scans/scans.py
  technique/reflectometry/NR_motion.py
  technique/reflectometry/__init__.py
  technique/reflectometry/script_actions.py
Owners: @rprospero, @ibex

remove default 1mm thickness, only set par if specified
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

remove default on do_trans too
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

feed through no default titles
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

remove defaults on specific instruments
  instrument/loq/sans.py
  instrument/sans2d/sans.py
Owners: @ibex

futureproof in case title used again in method without checking
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

removed commit hooks as committing and pushing will now be done automatically
  githooks/commit-msg
  setup.bat
Owners: @ibex

Other files modified
  technique/sans/auto_reduction.py
Owners: @rprospero, @DiegoAlbaVenero

Other files modified
  technique/sans/auto_reduction.py
Owners: @rprospero, @DiegoAlbaVenero

Delete technique/reflectometry directory
  technique/reflectometry/__init__.py
  technique/reflectometry/base.py
  technique/reflectometry/contrast_change.py
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/sample.py
  technique/reflectometry/test/__init__.py
  technique/reflectometry/test/test_base.py
Owners: @ibex

Create init.py
  technique/reflectometry/init.py
Owners: @ibex

Added first OFFSPEC version
  technique/reflectometry/NIMA_control.py
  technique/reflectometry/NR_motion.py
  technique/reflectometry/__init__.py
  technique/reflectometry/base_New_v2.py
  technique/reflectometry/calibration_Feb23_1.py
  technique/reflectometry/example.log
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/main.py
  technique/reflectometry/mocks.py
  technique/reflectometry/sample.py
  technique/reflectometry/script_2.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Update: to Offspec version of code
  technique/reflectometry/NR_motion.py
  technique/reflectometry/__init__.py
  technique/reflectometry/calibration_Feb23_1.py
  technique/reflectometry/example.log
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/mocks.py
  technique/reflectometry/sample.py
  technique/reflectometry/script_2.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Added comments on stuff what we need to do
  technique/reflectometry/NR_motion.py
Owners: @ibex

Add to do list Jan 2024
  technique/reflectometry/script_actions.py
Owners: @ibex

Update script_actions.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Trying to fix commit history
  technique/reflectometry/NIMA_control.py
  technique/reflectometry/NR_motion.py
  technique/reflectometry/__init__.py
  technique/reflectometry/base_New_v2.py
  technique/reflectometry/calibration_Feb23_1.py
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/main.py
  technique/reflectometry/mocks.py
  technique/reflectometry/sample.py
  technique/reflectometry/script_2.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Added copy of prior instrument_constants pre-changes
  technique/reflectometry/old_instrument_constants.py
Owners: @ibex

Add instrument constants for slit defaults and height
  technique/reflectometry/NR_motion.py
Owners: @ibex

Addition of ht_block
  technique/reflectometry/sample.py
Owners: @ibex

Updated to include new instrument constants
  technique/reflectometry/script_actions.py
Owners: @ibex

Defining new setup for instrument defaults
  technique/reflectometry/instrument_constants.py
Owners: @ibex

Added None handling for trans_angle instrument constant
  technique/reflectometry/NR_motion.py
Owners: @ibex

Added handling for height stages
  technique/reflectometry/NR_motion.py
Owners: @ibex
