Repository ISISNeutronMuon/InstrumentScripts, changes with the owners that CODEOWNERS names for each.
All owners: @ibex, @rprospero, @DiegoAlbaVenero

CODEOWNERS:

# default owner
* @ibex

# Any changes to instrument code should be reviewed by an instrument
# scientist on that beam line
/instrument/larmor @rprospero
/instrument/zoom @DiegoAlbaVenero

# Changes to the sans code should be reviewed by someone on that sans team
/technique/sans @rprospero @DiegoAlbaVenero
/doc/source/sans @rprospero @DiegoAlbaVenero

# The scan code is currently just Adam's code, but he's happy to share
# ownerhip if someone else wants to get involved
/general/scans @rprospero
/doc/source/scans @rprospero

Added handling of height stages and transmission offsets
  technique/reflectometry/script_actions.py
Owners: @ibex

New arguments added and PV defaults setup
  technique/reflectometry/instrument_constants.py
Owners: @ibex

Created example config constants file
  technique/reflectometry/example_config_constants.py
Owners: @ibex

parse lists and dicts from a string constant
  technique/reflectometry/instrument_constants.py
Owners: @ibex

Testing that IBEXBuilder can commit
  test.sh
Owners: @ibex

add test file
  test_file.txt
Owners: @ibex

test commit for github token
  newTestFileForGitHubToken.txt
Owners: @ibex

Comitting local change to test win cred manager
  pythonwrap.bat
Owners: @ibex

Other files modified
  testFileToSeeIfAUtoPusherWorks.txt
Owners: @ibex

Other files modified
  fileToTestAutoPusherAfterInitalAutoPush.txt
Owners: @ibex

Test commit for token testing agaim
  testFileToSeeIfAUtoPusherWorks.txt
Owners: @ibex

Test commit for token testing agaim
  testFileToSeeIfAUtoPusherWorks.txt
Owners: @ibex

Commit to test the credentials added worked
  general/scans/scans_4547.py
  instrument/surf.bk/__init__.py
  instrument/surf.bk/scans.py
  instrument/surf.bk/scans_4547.py
  instrument/surf.bk/util.py
  instrument/surf.bk/xscans.py
Owners: @rprospero, @ibex

Checkpoint
  technique/muon/muon_begin_end.py
Owners: @ibex

Remove all reference to six from scans
  general/scans/.pylintrc
  general/scans/defaults.py
  general/scans/fit.py
  general/scans/monoid.py
  general/scans/motion.py
  general/scans/scans.py
Owners: @rprospero

Remove all other reference to sans
  .pylintrc
  nee_scripts/instrument.py
  requirements.txt
  technique/muon/muon_begin_end.py
  technique/muon/tests/test_background_plot.py
  technique/muon/tests/test_muon_begin_end.py
  technique/reflectometry/base.py
  technique/sans/auto_reduction.py
  technique/sans/instrument.py
Owners: @ibex, @rprospero, @DiegoAlbaVenero

Added 'Runscript_day2.py'
  requirements.txt
  technique/reflectometry/NR_motion.py
  technique/reflectometry/Runscript_day2.py
  technique/reflectometry/__init__.py
  technique/reflectometry/example.log
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/main.py
  technique/reflectometry/mocks.py
  technique/reflectometry/script_2.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Max made some changes so code would run: removed all/most references to 'constants' in script_actions.py, added a new test script Runscript_day2.py etc
  technique/reflectometry/Runscript_day2.py
  technique/reflectometry/__init__.py
  technique/reflectometry/example.log
  technique/reflectometry/script_actions.py
Owners: @ibex

Max made some changes so code would run: removed all/most references to 'constants' in script_actions.py, added a new test script Runscript_day2.py etc
  technique/reflectometry/example.log
  technique/reflectometry/script_actions.py
Owners: @ibex

INTER working script stuff Jun 2024
  instrument/inter/scans.py
  technique/reflectometry/NR_motion.py
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Some interim changes, but breaks code...
  technique/reflectometry/NR_motion.py
  technique/reflectometry/Runscript_day2.py
  technique/reflectometry/example.log
  technique/reflectometry/script_actions.py
Owners: @ibex

Working version from NDLINTER
  technique/reflectometry/example.log
Owners: @ibex

This version has references to 'constants' removed from 'script_actions' and it works with mocks.
  technique/reflectometry/NR_motion.py
  technique/reflectometry/example.log
  technique/reflectometry/mocks.py
Owners: @ibex

Remove: removed example.log
  technique/reflectometry/example.log
Owners: @ibex

Maint: Added example.log to `gitignore`
  .gitignore
Owners: @ibex

Maint: Removed unused import
  technique/reflectometry/script_actions.py
Owners: @ibex

Update: `.gitignore`
  .gitignore
Owners: @ibex

Update: requirements.txt
  requirements.txt
Owners: @ibex

Updated instrument constants and mocks accordingly with new set of constants. Also changed InstrumentConstants class to dataclass.
  technique/reflectometry/NR_motion.py
  technique/reflectometry/base_New_v2.py
  technique/reflectometry/example_config_constants.py
  technique/reflectometry/inst_constants_common.py
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/mocks.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Update mocks so that it can accept an instrument variable
  instrument/crisp/instrument_mock_parameters.py
  instrument/inter/instrument_mock_parameters.py
  instrument/polref/instrument_mock_parameters.py
  instrument/surf/instrument_mock_parameters.py
  technique/reflectometry/Runscript_day2.py
  technique/reflectometry/mocks.py
Owners: @ibex

Incorporated Becky's changes (I think) by changing 'None' defaults to 'Default', such that and intentional None can be handled (both in script_actions.py and NR_motion.py).
  technique/reflectometry/NR_motion.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Incorporated Becky's changes (I think) by changing 'None' defaults to 'Default', such that and intentional None can be handled (both in script_actions.py and NR_motion.py). Added some comments.
  technique/reflectometry/instrument_constants.py
Owners: @ibex

Deleted some obsolete files (base_New_v2.py, inst_constants_common.py, example_config_constants.py, old_instrument_constants.py).
  technique/reflectometry/NIMA_control.py
  technique/reflectometry/base_New_v2.py
  technique/reflectometry/example_config_constants.py
  technique/reflectometry/inst_constants_common.py
  technique/reflectometry/main.py
  technique/reflectometry/old_instrument_constants.py
Owners: @ibex

Add: OFFSPEC instrument folder
  instrument/offspec/__init__.py
  instrument/offspec/instrument_mock_parameters.py
  instrument/offspec/scans.py
Owners: @ibex

Update instrument_mock_parameters.py
  instrument/inter/instrument_mock_parameters.py
Owners: @ibex

Update polref\scans.py
  instrument/polref/scans.py
Owners: @ibex

Updated Instrument/INTER/scans.py
  instrument/inter/scans.py
Owners: @ibex

Updated Instrument/INTER/scans.py
  instrument/inter/instrument_mock_parameters.py
  technique/reflectometry/NR_motion.py
  technique/reflectometry/instrument_constants.py
Owners: @ibex

Updated SM related functions based on SURF testing.
  technique/reflectometry/NR_motion.py
  technique/reflectometry/script_2.py
  technique/reflectometry/script_actions.py
Owners: @ibex

create first version of ndxoffspec from changes on INTER_wip
  calibration_Feb23_1.py
  githooks/commit-msg
  instrument/inter/scans.py
  instrument/loq/sans.py
  instrument/offspec/__init__.py
  instrument/offspec/scans.py
  instrument/sans2d/sans.py
  requirements.txt
  script_2.py
  setup.bat
  technique/reflectometry - Copy/NIMA_control.py
  technique/reflectometry - Copy/__init__.py
  technique/reflectometry - Copy/base.py
  technique/reflectometry - Copy/base_New.py
  technique/reflectometry - Copy/base_New_v2.py
  technique/reflectometry - Copy/base_Sep22.py
  technique/reflectometry - Copy/contrast_change.py
  technique/reflectometry - Copy/instrument_constants.py
  technique/reflectometry - Copy/sample.py
  technique/reflectometry - Copy/test/__init__.py
  technique/reflectometry - Copy/test/test_base.py
  technique/reflectometry/NIMA_control.py
  technique/reflectometry/NR_motion.py
  technique/reflectometry/__init__.py
  technique/reflectometry/base_New_v2.py
  technique/reflectometry/calibration_Feb23_1.py
  technique/reflectometry/contrast_change.py
  technique/reflectometry/example.log
  technique/reflectometry/main.py
  technique/reflectometry/mocks.py
  technique/reflectometry/script_2.py
  technique/reflectometry/script_actions.py
  technique/reflectometry/working_stuff.zip
  technique/sans/instrument.py
Owners: @ibex, @rprospero, @DiegoAlbaVenero
