Repository ISISNeutronMuon/InstrumentScripts, changes with the owners that CODEOWNERS names for each.
All owners: @ibex, @rprospero, @DiegoAlbaVenero

Changes to run_angle, sample_setup and _SM_setup for OFFSPEC compatibility
  technique/reflectometry/NR_motion.py
  technique/reflectometry/__init__.py
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/script_2_OFFSPEC.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Changed where the horizontal gaps read from (heirarchally from direct overwrite in function calls, new_sample, SampleGenerator or Instrument Constants)
  instrument/offspec/scans.py
  technique/reflectometry/NR_motion.py
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/sample.py
  technique/reflectometry/script_2_OFFSPEC.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Change osc_slit default (back) to True.
  technique/reflectometry/script_2_OFFSPEC.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Becky added "autoheight" method to script_actions.py to allow calling this from the command line (PyDev console).
  technique/reflectometry/__init__.py
  technique/reflectometry/script_actions.py
Owners: @ibex

FIX: Added `autoheight` function back into scrip_actions.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Update script_2.py
  technique/reflectometry/script_2.py
Owners: @ibex

Fix how "HG_DEFAULTS" constants are obtained in osc_slit_setup()
  technique/reflectometry/NR_motion.py
Owners: @ibex

Small changes to capitalised constants etc.
  technique/reflectometry/NR_motion.py
  technique/reflectometry/__init__.py
  technique/reflectometry/instrument_constants.py
  technique/reflectometry/script_actions.py
Owners: @ibex

Add handling for switching the S3Block toggle in the Reflectometry IOC Allows either slit 3 to be in beam blocker mode or scaling based on constants
  technique/reflectometry/NR_motion.py
Owners: @ibex

Deleted Reflctometry-Copy stuff.
  technique/reflectometry - Copy/NIMA_control.py
  technique/reflectometry - Copy/__init__.py
  technique/reflectometry - Copy/base_New.py
  technique/reflectometry - Copy/base_New_v2.py
  technique/reflectometry - Copy/base_Sep22.py
  technique/reflectometry - Copy/contrast_change.py
  technique/reflectometry - Copy/instrument_constants.py
  technique/reflectometry - Copy/sample.py
  technique/reflectometry - Copy/test/__init__.py
  technique/reflectometry - Copy/test/test_base.py
Owners: @ibex

Deleted base_New_v2.py
  technique/reflectometry/base_New_v2.py
Owners: @ibex

Tidied up __init__.py
  technique/reflectometry/__init__.py
Owners: @ibex

Deleted main.py
  technique/reflectometry/main.py
Owners: @ibex

Removed unnecessary vgaps None handling, because it is handled in NR_motion
  technique/reflectometry/script_actions.py
Owners: @ibex

Changed BLOCK name 'pump_is_on' to 'pumping'
  technique/reflectometry/script_actions.py
Owners: @ibex

Removed file working_stuff.zip
  technique/reflectometry/working_stuff.zip
Owners: @ibex

Removed file NIMA_control.py
  technique/reflectometry/NIMA_control.py
Owners: @ibex

Corrected handling of invalid block.
  technique/reflectometry/NR_motion.py
Owners: @ibex

caen threshold setter as developed on argus and chronus
  technique/muon/caen_thresholds.py
Owners: @ibex

ruff/formatting changes
  technique/muon/caen_thresholds.py
Owners: @ibex

Changed block name within contrast_change from "pumping_is_on" to "pumping" for consistency with unified scripting.
  technique/reflectometry/script_actions.py
Owners: @ibex

remove magic path
  technique/muon/caen_thresholds.py
Owners: @ibex

scripts to tag TPAR dir state as good and reload from that
  requirements.txt
Owners: @ibex

fix time format to be taggable
  general/utilities/restore_tpar_files.py
Owners: @ibex

empty tpar_directory file
  general/utilities/tpar_directory.txt
Owners: @ibex

actually empty tpar_directory file
  general/utilities/tpar_directory.txt
Owners: @ibex

stashed uncommitted changes from NDXINTER-ajc
  instrument/inter/scans.py
  technique/reflectometry/NR_motion.py
Owners: @ibex

correct search for tpar_directory file
  general/utilities/restore_tpar_files.py
Owners: @ibex

run subprocess from correct location
  general/utilities/restore_tpar_files.py
Owners: @ibex

run subprocess from real correct location this time
  general/utilities/restore_tpar_files.py
Owners: @ibex

same as before but for latest_save
  general/utilities/restore_tpar_files.py
Owners: @ibex

fix ruff errors, un-nest try block
  general/utilities/restore_tpar_files.py
Owners: @ibex

Other files modified
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

Checnged the specular pixel from 853 to 841.
  instrument/inter/scans.py
Owners: @ibex

Other files modified
  doc/call.py
  instrument/larmor/sans.py
  technique/sans/instrument.py
  technique/sans/util.py
  test.sh
Owners: @ibex, @rprospero, @DiegoAlbaVenero

Leading and trailing whitespace removed from sample position strings before validation
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

adding default standard configurations, and helpers for polarised measurements
  instrument/zoom/sans.py
  instrument/zoom/scans.py
  instrument/zoom/util.py
Owners: @DiegoAlbaVenero

only commit changes for default behaviour setting up do_sans, do_trans
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

Remove irrelevant changes to do_sans, do_trans
  technique/sans/instrument.py
Owners: @rprospero, @DiegoAlbaVenero

adding polarised diffraction mode
  instrument/larmor/sans.py
  instrument/larmor/util.py
Owners: @rprospero

CODEOWNERS:

# default owner
* @ibex

# Any changes to instrument code should be reviewed by an instrument
# scientist on that beam line
/instrument/larmor @rprospero
/instrument/zoom @DiegoAlbaVenero

# Changes to the sans code should be reviewed by someone on that sans team
/technique/sans @rprospero @DiegoAlbaVenero
/doc/source/sans @rprospero @DiegoAlbaVenero

# The scan code is currently just Adam's code, but he's happy to share
# ownerhip if someone else wants to get involved
/general/scans @rprospero
/doc/source/scans @rprospero
